
 body 
 {
   font-family: 'Raleway', sans-serif;
   margin: 0;
 }

 /*Header du site avec le logo Booki et hébergement, activités*/
 .header
 {
  display: flex;
  justify-content: space-between;
 }
 li 
 {
  list-style-type: none;
  padding: 55px;
 }
 ul 
 {
  display: flex;
  margin: 0;
 }
 .logo_booki 
 {
  margin: 35px;
}
a
{
  text-decoration: none;
  color: #000000;
}
a:hover
{
  color: #0065FC;
  border-top: #0065FC solid 3px;
}
